.dropdown{
    position: relative;
    border-top: 0.5px solid gray;
    padding:15px;
 }
 .dropdown .dropdownbtn{
     display: flex;
     justify-content: space-between;
     cursor: pointer;
     padding:5px 5px;
     font-weight: bold;
 
 }
 .dropdown .dropdownContent{
     padding:15px;
     position:absolute;
     width:100%;
 
 }
 .dropdown .dropdownContent .dropdownItems{
     cursor: pointer;
     transition: all 0.2s;
 }
 
 
 